.btn-scale {
  float: left;
  margin-left: 10px;
  position: absolute;
  z-index: 2;
}

.btn-round-xs {
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-round-sm {
  border-radius: 15px;
}

.btn-round-md {
  border-radius: 17px;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.swipe-button {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.1em;
  margin: 5px;
  overflow: hidden;
  padding: 4.8px 7px 4.8px 7px;
  position: relative;
  transition: all 0.5s ease;
  &:hover {
    span {
      margin-right: 27px;
    }
    .icon {
      right: -2px;
    }
  }
  span {
    display: inline-block;
    transition: all 0.3s ease;
  }
  .icon {
    padding: 10px;
    position: absolute;
    right: -50px;
    top: -5px;
    transition: all 0.3s ease;
  }
}
.swipe-button-right {
  &:hover {
    span {
      margin-right: -27px;
    }
  }
  .icon {
    position: absolute;
    right: 50px;
    top: -5px;
    padding: 10px;
    transition: all 0.3s ease;
  }
}